# Engine
IMAGE_VERSION=latest            # Version of the Docker image, update as needed
PLATFORM_BACKUP=linux/amd64     # Platform that is hosting the SyntH (backup container), use linux/amd64 for most systems, or linux/arm64 for ARM systems
WEB_DEBUG=0                     # Enable in-page debug overlay when set to 1 (default: 0)

# Database
DB_HOST=synth-db                # Hostname of the database service (container name or IP)
DB_PORT=3306                    # Internal port for database service
EXT_DB_PORT=3306                # External port for database service (in case you want to expose it)
DB_USER=synth                   # Database username
DB_PASS=synth                   # Database password
DB_NAME=synth                   # Database name
DB_ROOT_PASS=synth              # Database root password

# Selkies Web Desktop
SELKIES_HTTP_PORT=5006          # Port for the Selkies HTTP interface 
SELKIES_HTTPS_PORT=5007         # Port for the Selkies HTTPS interface
SELKIES_HOST=localhost          # Host for the Selkies webview interface
PASSWORD=synth                  # Password for the abc user, change to something secure if needed, this is even used for webview authentication
ROOT_PASSWORD=synth             # Password for the root user in the container, change this to something secure
DISPLAY_WIDTH=1280              # Selkies Width of the display in pixels
DISPLAY_HEIGHT=720              # Selkies Height of the display in pixels
VNC_PORT=6901                   # Port for the VNC server, change if necessary
SECURE_CONNECTION=1             # Enable HTTPS for Selkies (0/1), change to 0 to disable HTTPS (not recommended as it might break Selkies webview)
SYNTH_WEBUI_TLS=1               # Enable HTTPS for the Web UI (0/1). If 1, the server will try to use TLS using SYNTH_WEBUI_CERTFILE and SYNTH_WEBUI_KEYFILE or generate a self-signed cert in SYNTH_WEBUI_CERT_DIR.
SYNTH_WEBUI_CERT_DIR=/config/ssl # Directory where self-signed cert + key will be generated if not provided explicitly
SYNTH_WEBUI_CERTFILE=            # Optional: Provide a custom cert file to use
SYNTH_WEBUI_KEYFILE=             # Optional: Provide a custom key file to use

# OLLAMA API
OLLAMA_PORT=11434               # Port for Ollama API, default: 11434, however if you have an actual Ollama server running, change this to avoid conflicts

